.introduction {
  min-height: 100vh;
  @include flex(column, space-around);
  flex-direction: column;
  align-items: center;

  .box {
    color: lightcoral;
  }

  h2 {
    font-size: $big-font;
  }

  button {
    border: none;
    background: $primary;
    padding: 1rem 3rem;
    transition: all 1s ease;
    cursor: pointer;
    &:hover {
      background: lightblue;
    }
  }
}
